<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books of all users</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <input class="add-button" onclick="window.location.href='/user/list'; return false;" style="margin-top: 10px;"
           type="button" value="Go back to user's list"/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Title</th>
            <th style="width: 150px;">Author</th>
            <th style="width: 150px;">Category</th>
            <th style="width: 150px;">Owner</th>
        </tr>
        </thead>
        <tr th:each="books : ${thebooks}">
            <td th:text="${books.title}">Sample title</td>
            <td th:text="${books.author}">Sample author</td>
            <td th:text="${books.bookCategory}">Sample category</td>
            <td th:text="${books.user.firstName} +' '+ ${books.user.lastName}">Sample owner</td>
        </tr>
    </table>
</div>
</body>
</html>