<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Form</title>
</head>
<body>
<form th:object="${book}"  th:action="@{/user/new-book}" method="post">
    <table>
        <tr>
            <input type="hidden" th:field="*{user.id}"/>
            <input type="hidden" th:field="*{id}" />
            <input type="text" th:field="*{title}" placeholder="Title" />
            <input type="text" th:field="*{author}" placeholder="Author" />
            <select class="form-control" th:field="*{bookCategory}">
                <option th:each="category : ${T(com.skoczek.demo.model.BookCategory).values()}"
                        th:value="${category.name()}"
                        th:text="${category.name()}"
                >val</option>
            </select>
        </tr>
        <button type="submit">Save</button>
    </table>
</form>
</body>
</html>