<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Form</title>
</head>
<body>
<form method="post" th:action="@{/user/books/add}" th:object="${book}">
    <table>
        <tr>
            <input th:field="*{user.id}" type="hidden"/>
            <input th:field="*{id}" type="hidden"/>
            <input placeholder="Title" th:field="*{title}" type="text"/>
            <input placeholder="Author" th:field="*{author}" type="text"/>
            <select class="form-control" th:field="*{bookCategory}">
                <option th:each="category : ${T(com.skoczek.demo.model.BookCategory).values()}"
                        th:text="${category.name()}"
                        th:value="${category.name()}"
                >val
                </option>
            </select>
        </tr>
        <button type="submit">Save</button>
    </table>
</form>
</body>
</html>