<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register-form">
    <form action="#" method="post" th:action="@{/user/register}" th:object="${user}">
        <div class="note">
            <p>Registration Form</p>
        </div>
        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" placeholder="First Name *" th:field="*{firstName}"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Surname *" th:field="*{lastName}"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Email *" th:field="*{email}" type="email"/>
                        <span class="text-danger help-block" th:errors="*{email}"
                              th:if="${#fields.hasErrors('email')}"></span>
                    </div>
                    <div class="form-group">
                        <p th:errors="*{password}">Password errors</p>
                        <input class="form-control" placeholder="Password *" th:field="*{password}" type="password"/>
                    </div>
                </div>
            </div>
            <button class="btnSubmit" type="submit">Submit</button>
        </div>
    </form>
</div>