<html xmlns:th="http://www.thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/login.css}">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div class="fadeIn first">
        <img alt="User Icon" id="icon" src="https://image.flaticon.com/icons/svg/1665/1665768.svg"/>
    </div>

    <form id="formContent" method="post" th:action="@{/login}">
        <form>
            <input class="fadeIn second" id="login" name="username" placeholder="email" type="text">
            <input class="fadeIn third" id="password" name="password" placeholder="password" type="password">
            <input class="fadeIn fourth" type="submit" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#" th:href="@{/user/register}">Register</a>
        </div>

    </form>
</div>