<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
</head>
<body>
<form action="/register/processRegistrationForm"
           modelAttribute="crmUser" class="form-horizontal">
    <!-- User name -->
    <input path="userName" placeholder="username" class="form-control" />
    <!-- Password -->
    <input path="password" placeholder="password" class="form-control" />
    <!—First Name à
    <input path=”firstName” placeholder-“first name” class=”form-control” />
    <button type="submit" class="btn btn-primary">Register</button>
</form>
</body>
</html>