<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<form th:object="${user}" th:action="@{/user/saveUser}" method="post" style="margin-top: 10px;" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2">
            <input type="hidden" th:field="*{id}" />
            <input type="text" class="form-control" th:field="*{firstName}" placeholder="First Name" />
            <input type="text" class="form-control" th:field="*{lastName}" placeholder="Last Name" />
            <input type="text" class="form-control" th:field="*{email}" placeholder="Email" />
        </label>
        <button type="submit" class="btn btn-default" style="margin-top: 7px;">Save</button>
    </div>
</form>
</body>
</html>